
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
li{
    list-style: none;
    padding: 10px;
    color: rgb(255, 0, 149);
    font-weight: 700;
    font-size: 18px;
    
}
.box{
    background-color: rgb(241, 241, 200);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    width: 400px;
    height: 400px;
    
}
#question{
    text-align: center;
    padding: 12px;
}

#btn{
    text-align: center;
    padding: 12px;
}
#next{
    padding: 10px;
    border: none;
    background-color: rgb(239, 62, 62);
    width: 80px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    

}
input{
    cursor: pointer;
}
#next:hover{
    background-color:red ;
    cursor: pointer;
}
#button{
    background-color: rgb(239, 62, 62);
    border: none;
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
#button:hover{
 background-color: red;
 cursor: pointer;
}
.hadder{
    font-size: 40px;
   
    color: rgb(133, 80, 255);
    
}